body{
    background-color : #330033;
}

div.body{
    text-align: center;
}
h1.title{
    text-align: center;
    color : rgb(255, 230, 0);
}

h3.new{
    color : red;
}

h3.recommend{
    color : orange;
}

h3.all{
    color : blue;
}
